<h1>Timesheets</h1>
<div class="timesheet">
  <div class="employeContainer">
    <div  matAutocompleteOrigin #origin="matAutocompleteOrigin">
      <mat-form-field>

        <input
          matInput
          placeholder="Employé"
          [formControl]="employeeControl"
          [matAutocomplete]="auto"
          [matAutocompleteConnectedTo]="origin">
      </mat-form-field>
    </div>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of this.employees" [value]="option">
        {{option.firstname}} {{option.lastname}}
      </mat-option>
    </mat-autocomplete>
    <h2>Employé sélectionné</h2>
    <ng-container *ngIf="selectedEmployee as empl; else notSelected">


      <ul>
        <li>{{empl.firstname}} {{empl.lastname}}</li>
        <li>{{empl.status}}</li>
        <li>{{empl.gender}}</li>
        <li>{{empl.birthday}}</li>
        <li>{{empl.address}}</li>

      </ul>
    </ng-container>
    <ng-template #notSelected>
      <ul>
        <li>Pas d'employé selectionné</li>
      </ul>
    </ng-template>
  </div>
  <div class="timesheetsContainer">

    <button *ngIf="selectedEmployee" (click)="onNewTimesheet()">add</button>

    <table>
      <thead>
      <tr>
        <th>start_date</th>
        <th>start_hours</th>
        <th>end_hours</th>
        <th>comment</th>
        <th>timesheet_type</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Date 1</td>
        <td>Heure de début 1</td>
        <td>Heure de fin 1</td>
        <td>Commentaire 1</td>
        <td>Type de feuille de temps 1</td>
      </tr>
      <tr>
        <td>Date 2</td>
        <td>Heure de début 2</td>
        <td>Heure de fin 2</td>
        <td>Commentaire 2</td>
        <td>Type de feuille de temps 2</td>
      </tr>
      <tr>
        <td>Date 3</td>
        <td>Heure de début 3</td>
        <td>Heure de fin 3</td>
        <td>Commentaire 3</td>
        <td>Type de feuille de temps 3</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
