
<table mat-table [dataSource]="this.timesheets">

  <ng-container matColumnDef="contractTitle">
    <th mat-header-cell *matHeaderCellDef>Titre du contrat</th>
    <td mat-cell *matCellDef="let element"> {{element.contract.title}} </td>
  </ng-container>
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef>Date début</th>
    <td mat-cell *matCellDef="let element"> {{element.start_date}} </td>
  </ng-container>
  <ng-container matColumnDef="startHour">
    <th mat-header-cell *matHeaderCellDef>Heure de début</th>
    <td mat-cell *matCellDef="let element"> {{(element.start_hours)?.substring(0,5)}} </td>
  </ng-container>
  <ng-container matColumnDef="endHour">
    <th mat-header-cell *matHeaderCellDef>Heure de fin</th>
    <td mat-cell *matCellDef="let element"> {{(element.end_hours)?.substring(0,5)}} </td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type de fiche</th>
    <td mat-cell *matCellDef="let element"> {{element.timesheet_type}} </td>
  </ng-container>
  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef>Commentaire</th>
    <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
