
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'push' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-nav-list class="tailleList">
      <img class="logo-nav" src="assets/images/logo.png"  alt="logo"/>

    <mat-divider></mat-divider>

      <mat-list-item class="listFocus" [routerLink]="''">
        <mat-icon mat-list-icon>home</mat-icon>
        <span  class="menu-item">Dashboard</span>
      </mat-list-item>
      <mat-list-item class="listFocus" [routerLink]="'employee'">
        <mat-icon mat-list-icon>person</mat-icon>
        <span  class="menu-item">Employee</span>
      </mat-list-item>

      <mat-list-item class="listFocus" [routerLink]="['company']">
        <mat-icon mat-list-icon>home</mat-icon>
        <span  class="menu-item">Company</span>
      </mat-list-item>
      <mat-list-item class="listFocus" [routerLink]="['timesheets']">
        <mat-icon>access_time</mat-icon>

        <span class="menu-item">Timesheets</span>
      </mat-list-item>
      <mat-list-item class="listFocus" [routerLink]="['contracts']">
        <mat-icon mat-list-icon>assignment</mat-icon>
        <span class="menu-item">Contracts</span>
      </mat-list-item>


    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>GESTION DES ENTREPRISES</span>

      <button mat-raised-button (click)="logout()">logout</button>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
