<div class="headerTitle"><h1>Gestion des Employee</h1></div>

<!--<app-list *ngIf="config$ | async as config" [config]="config" > </app-list>-->

<!--<div class="wrapper">
  <a [routerLink]="['Add']">
    <button mat-button>
      <span>Ajouter employee</span>
      <mat-icon>person</mat-icon>
    </button>
  </a>

</div>-->

<ng-container>
  <table>
    <thead>
      <tr>
        <th>First name </th>
        <th>Last name </th>
        <th>Status </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employee">
        <td>{{employee.firstname}}</td>
        <td>{{employee.lastname}}</td>
        <td>{{employee.status}}</td>
      </tr>
    </tbody>


  </table>
</ng-container>
