<mat-toolbar color="primary">

  <button mat-icon-button (click)="nav.toggle()"><mat-icon>menu</mat-icon> </button>
  <div class="titreToolbar">Project</div>
  <div class="extra"></div>
  <span class="example-spacer"><mat-icon>home</mat-icon>Home</span>
  <span class="example-spacer">Company</span>
  <span class="example-spacer">Employee</span>
  <button (click)="logout()">logout</button>

</mat-toolbar>
<mat-sidenav-container class="sidenav-wrapper">
  <mat-sidenav  [opened]="opened" mode="side" #nav >
    <a [routerLink]="['']">
      <button mat-button>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
    </a>
    <a [routerLink]="['employee']">
      <button mat-button>
        <mat-icon>person</mat-icon>
        <span>Employee</span>
      </button>
    </a>
    <button (click)="me()">get my info</button>
    <div *ngIf="credential">
      {{ 'username : ' + credential.username}}
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--<div>
  <span class="example-spacer"><mat-icon>home</mat-icon>Home</span>
  <span class="example-spacer">Company</span>
  <span class="example-spacer">Employee</span>
</div>-->

