<!--
<h1 mat-dialog-title>{{datatable}}</h1>
<p>list-generic works!</p>
<div mat-dialog-content>
  <form [formGroup]="useGenericForm">
  <mat-form-field appearance="outline">
    <mat-label>Firstname</mat-label>
    <input matInput placeholder="Joe" formControl="firstname" required>
  </mat-form-field>
    <mat-form-field appearance="outline">
    <mat-label>Lastname</mat-label>
    <input matInput placeholder="Joe" formControl="lastname" required>
  </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel">Effacer</button>
  <button mat-button  >{{datatable}}</button>
</div>-->

