


   <button type="button" class="btn btn-primary"  *ngIf="haveCallBack"
     [routerLink]="config.entityUrlCreate" >
     Create New {{config.entityName}} <i class="fa fa-plus-circle"></i></button>
   <ng-container *ngIf="valid;else invalid">
  <table class="table table-striped {{config.tableCss}}">

    <tr class="center">
      <th class="titleTable">#</th>
      <th class="titleTable" *ngFor="let field of config.fields">{{field}}</th>
      <th class="titleTable">Action</th>

    </tr>
    <tr *ngFor="let item of config.data;let index=index">
      <td class="tailleIndex">{{index+1}}</td>
      <ng-container *ngFor="let field of config.fields,let src of config.fields">
        <!-- Si pas de specificCss alors premier ngContainer sinon go to #specific -->
        <ng-container *ngIf="!config.specificCSS && !config.specificIMG || !isInclude(field) ;else specific">
          <td class="tdTailleCenter">
              <!--<ng-container *ngIf="config.specificIMG;else normal">
                <img [src]="item.src">;
              </ng-container>
            <ng-template #normal>-->{{item[field]}}<!--</ng-template>-->
            </td>

        </ng-container>
        <ng-template #specific>
          <td class="tdTailleCenter">
            <ng-container  *ngFor="let cssValue of currentCSS!.cssConfig ">
              <span *ngIf="item[field]=== cssValue.value" class="{{cssValue.css}}">{{item[field]}}</span>
            </ng-container>
          </td>
        </ng-template>
      </ng-container>
        <td class="tailleAction">
        <button class="btn btn-primary" [routerLink]="[config.entityUrl, item.id]"
                >View <i class="fa fa-eye" aria-hidden="true"></i></button>

        <button class="btn btn-danger" (click)="callRemove(item.id)">
                Delete <i class="fa fa-trash"></i></button>


      </td>
    </tr>
  </table>

</ng-container>
<ng-template #invalid>
  config invalide
</ng-template>



<!--<button class = "btn btn-danger"(click)="callRemove(item)">Delete</button>-->
<!--        <button class = "btn btn-info" (click)="callCallback(item)">Détail</button>-->
<!--<ng-container  *ngIf="valid;else invalid">
  <button class = "btn btn-info btnCreate"*ngIf="haveCallBack">Create New Employee</button>
  <table class="table table-striped">

    <tr class="center">
      <th class="titleTable">#</th>
      <th class="titleTable"*ngFor="let field of config.fields">{{field}}</th>
      <th class="titleTable"*ngIf="haveCallBack">Action</th>

    </tr>
    <tr *ngFor="let item of config.data;let index=index">
      <td>{{index+1}}</td>
      <td>{{item.firstname}}</td>
      <td>{{item.lastname}}</td>
      <td class="tdTailleCenter"><span [class.success]="item.status == 'Employed'" [class.error]="item.status == 'NotEmployed'" >{{item.status}}</span></td>
      <td *ngIf="haveCallBack">
        <button type="button" class="btn btn-primary" [routerLink]="['/Employees/detail/', item.id]">Détail</button>
        &lt;!&ndash; <button class = "btn btn-info"(click)="callCallback(item)">Détail</button>&ndash;&gt;
        <button class = "btn btn-danger"(click)="callRemove(item)">Delete</button>
      </td>
    </tr>
  </table>

</ng-container>
<ng-template #invalid>
  config invalide
</ng-template>-->
