<mat-toolbar color="primary" class="navbar">
  <div>Project</div>
  <button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon> </button>
  <div>
    <span class="example-spacer"><mat-icon>home</mat-icon>Home</span>
    <span class="example-spacer">Company</span>
    <span class="example-spacer">Employee</span>
  </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav  mode="side" [opened]="opened" >
      <button (click)="logout()">logout</button>

      <button (click)="me()">get my info</button>


      <div *ngIf="credential">
        {{ 'username : ' + credential.username}}
      </div>
    </mat-sidenav>

    <mat-sidenav-content>

      End
    </mat-sidenav-content>
</mat-sidenav-container>


<!--<form class="example-form">-->
<!--  <mat-form-field class="example-full-width">-->
<!--    <mat-label>Name:</mat-label>-->
<!--    <input matInput placeholder="Ex. Hardik" value="Hardik">-->
<!--  </mat-form-field>-->
<!--  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>-->
<!--  <mat-form-field class="example-full-width">-->
<!--    <mat-label>Address:</mat-label>-->
<!--    <textarea matInput placeholder="Ex. 204, Sarvo, India"></textarea>-->
<!--  </mat-form-field>-->

<!--  <button mat-raised-button color="primary">Submit!</button>-->
<!--</form>-->
<!--<mat-toolbar-row>-->
<!--  <span>Second Line</span>-->
<!--  <span class="example-spacer"></span>-->
<!--  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>-->
<!--</mat-toolbar-row>-->


