.navbar {
  justify-content: space-between;
   }
span{
  padding-right: 1rem;
}
mat-sidenav-container{
  height: calc(205vh - 115vh);
}
mat-sidenav,mat-sidenav-content{
  padding: 16px;
}
mat-sidenav{
  background-color: lightcoral;
  width: 200px;

}
mat-sidenav-content{
  width: auto;
}
