h1{
  text-align: center;
}
form{
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 400px;

  margin: auto;
}
#hours{
  flex-direction: row;
  justify-content: space-between;
  mat-form-field{
    width: 40%;
  }
}
